# Python
.venv/
.venv_test/
__pycache__/
*.pyc
db.sqlite3

# Django
staticfiles/
media/
ml_artifacts/

# Env
.env

# Celery
celerybeat-schedule*

# Node
node_modules/

# Editors / OS
.vscode/
.DS_Store
